@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lao_SomVang';
    src: url('Lao_SomVang.woff2') format('woff2'),
        url('Lao_SomVang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

